/* Testing an idea for darkmode. Can we universally reverse the color 
   variables and get a desired effect? This would be naive thinking. 
   See the complete guide to darkmode and Steve Schoger from Refactoring UI
   on css-tricks.com: https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ */

@media (prefers-color-scheme: dark) {
    :root {

        Define grays but in reverse order 

        --gray-100: hsl(252, 4%, 22%);
        --gray-200: hsl(252, 4%, 25%);
        --gray-300: hsl(250, 4%, 31%);
        --gray-400: hsl(250, 3%, 42%);
        --gray-500: hsl(257, 3%, 57%);
        --gray-600: hsl(260, 4%, 72%);
        --gray-700: hsl(255, 5%, 84%);
        --gray-800: hsl(260, 6%, 91%);
        --gray-900: hsl(260, 9%, 94%);
    }
}