*, body {
  padding: 0; 
  margin: 0;
}
main {
/*   max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  font-family: Inter, sans-serif;
  font-size: 3rem;
  padding: 1rem;
}
h1 span {
  display: block;
}
h1 span.white {
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1rem;
}
.subhead {
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 700;
}