*,  body {
  margin: 0;
  padding: 0;
  background: #23395b;
}
svg {
  position: fixed;
  top: 0;
  left: 0;
}
.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@supports not (display: grid){
  .test {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
}
p {
  text-align: center;
  text-decoration: none;
  color: #1d2f4b;
  padding: 15px;
  cursor: default;
}
p:hover {
  color: #0d1522;
}
.goofyballs {
  /*animation: squiggly-anim 0.3s linear infinite;*/
  font-size: 75px;
  font-family: sans-serif;
  font-weight: bold;
}
.goofyballs:hover {
  animation: hover-anim 0.3s linear infinite;
}
goofyballs:active {
  animation: hover-anim 0.3s linear infinite;
}
@keyframes hover-anim {
  0% {
    filter: url("#displacementFilter6")
  }
  25% {
    filter: url("#displacementFilter7")
  }
  50% {
    filter: url("#displacementFilter8")
  }
  75% {
    filter: url("#displacementFilter9")
  }
  100% {
    filter: url("#displacementFilter10")
  }
}